<html><head>{% include "base_style.html" %}</head><body>
<table width="100%" cellpadding="0" cellspacing="0"><tr><td class="hdr">MEMBER ACCOUNT SUMMARY</td></tr></table>
<table cellpadding="8"><tr><td>
<table cellpadding="4" cellspacing="0">
  <tr><td class="td1">Member ID</td><td class="td2">{{ member.member_id }}</td>
      <td class="td1">Name</td><td class="td2">{{ member.name }}</td></tr>
  <tr><td class="td1">Status</td><td class="td2">{{ member.status }}</td>
      <td class="td1">Branch</td><td class="td2">Midtown Main</td></tr>
</table>
<br>
<table cellpadding="4" cellspacing="0" width="480">
  <tr><td class="hdr" colspan="3">DEPOSIT ACCOUNTS</td></tr>
  <tr><td class="td1">Account Type</td><td class="td1">Balance</td><td class="td1">Available</td></tr>
  <tr><td class="td2">Savings</td><td class="td2">${{ member.savings_balance }}</td><td class="td2">${{ member.savings_balance }}</td></tr>
  <tr><td class="td2">Checking</td><td class="td2">${{ member.checking_balance }}</td><td class="td2">${{ member.checking_balance }}</td></tr>
  {% for sa in member.sub_accounts %}
  <tr><td class="td2">Sub-account: {{ sa }}</td><td class="td2">$0.00</td><td class="td2">$0.00</td></tr>
  {% endfor %}
</table>
<br>
<form method="get" action="/content/member/{{ member.member_id }}/subaccount">
<input type="submit" value="Open Sub-Account">
</form>
</td></tr></table>
</body></html>
